@import url('https://fonts.googleapis.com/css?family=Space+Mono');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Space Mono';
  line-height: 1.6;
  font-size: 16px;
  text-align: justify;
}

* {
  box-sizing: border-box;
}

a {
  color: deeppink;
  text-decoration: none;
}

a:hover {
  text-decoration: wavy underline;
}

img {
  max-width: 100%;
  display: block;
}

*::selection {
  background: deeppink;
  color: #ffffff;
}
*::-moz-selection {
  background: deeppink;
  color: #ffffff;
}
*::-webkit-selection {
  background: deeppink;
  color: #ffffff;
}